@model HomeworkTracker.Models.User

@{
    ViewBag.Title = "Login";
}
<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Your name goes here" />
    <label for="passsword">Password:</label>
    <input type="password" id="password" name="password" placeholder="Your password goes here" />
    <input type="submit" />


</form>