@{
    ViewBag.Title = "Home Page";
}

<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Register", "User")'">Register</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Login", "User")'">Login</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("AddStudent", "Student")'">Add Student</button>

